@{
    ViewData["Title"] = "AjaxEvent";
}

<h1>AjaxEvent</h1>
<input type="text" id="inputUsername" placeholder="請輸入名稱" />
<button id="ajaxStart" class="btn btn-primary">Ajax Start</button>
<button id="ajaxStop" class="btn btn-warning">Ajax Stop</button>
<img id="img1" src="~/images/1476.gif" />

<div id="div1" class="alert alert-dark mt-3"></div>

@section Scripts{
    <script>
        const btnStart = document.querySelector('#ajaxStart');
        const btnStop = document.querySelector('#ajaxStop');

        const username = document.querySelector('#inputUsername');

        const loadingImg = document.querySelector('#img1');
        const div1 = document.querySelector('#div1');

        const xhr = new XMLHttpRequest();
        btnStart.addEventListener('click', () => {
            xhr.open("GET", `/Api/AjaxEvent?userName=${username.value}`);
            xhr.timeout = 2000;
            xhr.send();
        })

        xhr.addEventListener('loadstart', () => {
            loadingImg.style.display = "inline";
            btnStart.setAttribute('disabled', 'disabled');
            btnStart.innerHTML = "等待中......";
            div1.innerHTML += "Ajax Start<br/>";
        })

        xhr.addEventListener('load', () => {
            div1.innerHTML += xhr.responseText + "<br/>";
        })

        xhr.addEventListener('loadend', () => {
            loadingImg.style.display = "none";
            btnStart.removeAttribute('disabled');
            btnStart.innerHTML = "Ajax Start";
            div1.innerHTML += "Ajax End<br/>";
        })

        xhr.addEventListener('timeout', ()=>{
            div1.innerHTML += "伺服器忙碌中...<br/>";
        })

        btnStop.addEventListener('click', () => {
            xhr.abort();
        })

        xhr.addEventListener('abort', ()=>{
            username.value = "";
            div1.innerHTML += "您已終止程式的運作<br/>";
        })
    </script>
}

@section Styles{
    <style>
        #img1 {
            display: none;
        }
    </style>
            }