
@{
    ViewData["Title"] = "Datatables";
}

<h1>Datatables</h1>
<table id="myTable" class="display">
<thead>
    <tr>
        <th>商品編號</th>
        <th>商品名稱</th>
        <th>價格</th>
        <th>庫存</th>
    </tr>
</thead>
<tbody>

</tbody>
</table>
@section Scripts{
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
    <script>
        $('#myTable').DataTable({
            ajax: "https://localhost:7068/api/products/datatables",
            columns: [
                { data: 'productId' },
                { data: 'productName' },
                { data: 'unitPrice' },
                { data: 'unitsInStock' },
            ]
        });
    </script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
}
