@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="table table-bordered" id="employeesTable">
        <thead>
            <tr>
                <th>姓名</th>
                <th>年資</th>
                <th>薪水</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts{
    <script src=""></script>
    <script>
        $("h1").text("Hello, Section")
    </script>
}

@section Style{
    <style>
        h1 {
            background-color: lightblue;
        }
    </style>
}

<script>
    const emp = {
        "employees": [
            { "name": "Tom", "workYears": 3, "salary": 35000 },
            { "name": "Jack", "workYears": 5, "salary": 40000 },
            { "name": "Mary", "workYears": 7, "salary": 45000 }
        ]
    };

    //for(let i = 0, max = emp.employees.length; i < max ; i++){
    //    const {name, workYears, salary } = emp.employees[i];

    //    console.log(name);
    //    console.log(workYears);
    //    console.log(salary);
    //}

    //emp.employees.forEach(emps => {
    //    const {name, workYears, salary} = emps;

    //    console.log(name);
    //    console.log(workYears);
    //    console.log(salary);
    //})

    //let datas = "";
    //emp.employees.forEach(emps => {
    //    const { name, workYears, salary } = emps;

    //    const data =
    //        `
    //            <tr>
    //                <td>${name}</td>
    //                <td>${workYears}</td>
    //                <td>${salary}</td>
    //            </tr>
    //        `
    //    datas += data;
    //})

    //document.querySelector("#employeesTable>tbody").innerHTML = datas;

    const datas = emp.employees.map(theEmp => {
        const { name, workYears, salary } = theEmp;
        return (
            `<tr>
                      <td>${name}</td>
                      <td>${workYears}</td>
                      <td>${salary}</td>
                      </tr>
                    `
        )
    })
    document.querySelector('#employeesTable>tbody').innerHTML = datas.join("");
</script>
