
@{
    ViewData["Title"] = "Homework6";
}

<h1>Homework6</h1>

<select id="cities"></select>
<select id="districts"></select>
<select id="roads"></select>

@section Scripts{
    <script>
        const selCities = document.querySelector('#cities');
        const selDistricts = document.querySelector('#districts');
        const selRoads = document.querySelector('#roads');

        async function LoadCities(){
            const response = await fetch("/api/Cities");
            const datas = await response.json();
            const cities = datas.map(city=>{
                return (`<option value="${city}">${city}</option>`)
            })
            selCities.innerHTML = cities.join("");
            LoadDistricts();
        }

        async function LoadDistricts() {
            const city = selCities[selCities.selectedIndex];
            console.log(city.value);
            const response = await fetch(`/api/Districts?City=${city.value}`);
            const datas = await response.json();
            const districts = datas.map(district => {
                return (`<option value="${district}">${district}</option>`)
            })
            selDistricts.innerHTML = districts.join("");
            LoadRoads();
        }

        async function LoadRoads() {
            const district = selDistricts[selDistricts.selectedIndex];
            const response = await fetch(`/api/Roads?District=${district.value}`);
            const datas = await response.json();
            const roads = datas.map(road => {
                return (`<option value="${road}">${road}</option>`)
            })
            selRoads.innerHTML = roads.join("");
        }
        
        LoadCities()

        selCities.addEventListener('change', ()=>{
            LoadDistricts();
        })
        selDistricts.addEventListener('change', ()=>{
            LoadRoads();
        })
    </script>
}

