@{
    ViewData["Title"] = "Homework2";
}

<h1>Homework2</h1>
<div class="container" style="overflow:hidden" >
    <div class="row row-cols--4" id="landscapeCards">
    <div>

    </div>
</div>
<script src="~/js/Travel.js"></script>
<script>
    const datas = spots.CommonFormat.Section;
    const landscape = datas.map((value,idx) => {

        const { stitle, address, xbody } = value;
        let imgName = value.file.img;
        if(imgName.length > 0){
            imgName = imgName[0].text;
        }
        else{
            imgName = imgName.text;
        }
            return (`<div class="card col-4" style="max-height:600px ;">
                                        <img src="${imgName}" class="card-img-top" alt="detail" style="max-height:250px">
                                        <div class="card-body">
                                            <h5 class="card-title">${stitle}</h5>
                                            <p class="card-text">${address}</p>
                                            <p class="card-text" style="display:-webkit-box; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp: 5;  -webkit-box-orient: vertical;">${xbody}</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                             `);
    })
    console.log(datas)
    document.querySelector("#landscapeCards").innerHTML = landscape.join("");

</script>
